{% load inplace_edit %}
  <TABLE BORDER WIDTH="100%">
  {% if attend_list %}
    <ul>
    <TR>
      <TH>Дата</TH>
      <TH>День недели</TH>
      <TH>Звонки</TH>
      <TH>Посещения</TH>
      <TH>Заказы</TH>
      <TH>Стоимость</TH>
      <TH>Дизайнеры</TH>
    </TR>
    {% for attend in attend_list %}	
        <TR bgcolor={{attend.date.weekday_color}}>
	  <TD>{{ attend.date.date_dd_mm_yy}}</TD>
	  <TD>{{ attend.date.weekday_name}}</TD>
	  <TD>{% if attend.attend %}{% inplace_edit "attend.attend.calls" %}{% endif %}</TD>
	  <TD>{% if attend.attend %}{% inplace_edit "attend.attend.visits" %}{% endif %}</TD>
	  <TD><a href="{% url 'asuzr-main' attend.date.day attend.date.month attend.date.year %}">{{ attend.orders_count}}</a></TD>
	  <TD>{{ attend.orders_price}}</TD>
	  <TD>{{ attend.designers}}</TD>
        </TR>
    {% endfor %}
    <TR>
      <TD COLSPAN=2>ИТОГО:</TD>
      <TD>{{sum_calls}}</TD>
      <TD>{{sum_visits}}</TD>
      <TD>{{sum_orders}}</TD>
      <TD>{{sum_price}}</TD>
      <TD></TD>
     </TR>
    </ul>
  {% else %}
    <p>Список пуст</p>
  {% endif %}
  </TABLE>
