{% load inplace_edit %}
<html>
<head>
  <title>Автоматическая система учета заказов студии мебели Рекорд</title> 
  <script src="{{ STATIC_URL }}admin/js/jquery.min.js" type="text/javascript"></script>
  {% inplace_static %}
</head>
<body> 
{% block menu %} 
    <ul id="menu">
     <li><a href={% url 'asuzr-main' 1 5 2015 %}>Таблица посещаемости</a></li>
     <li><a href={% url 'asuzr.views.orders' 0 %}>Таблица выхода заказов</a></li>
     <li><a href={% url 'asuzr.views.orders' 1 %}>Архивная таблица</a></li>
     <li><a href={% url 'asuzr.views.desreport' %}>Отчет по дизайнерам</a></li>
   </ul>
{% endblock %}
<H1>{% block title %}Заголовок страницы{% endblock %}</H1> 

{% block page %}
Тело страницы
{% endblock %}

{% block footer %}
<hr>
{% endblock %}
  </body>
</html>
