{% extends "asuzr/base.html" %}

{% block title %}Отчет по дизайнерам за {{start_date}} - {{end_date}}{% endblock %} 

{% block page %}
  <TABLE BORDER WIDTH="30%">
  {% if des_list %}
   <ul>
    <TR>
      <TH WIDTH="40%">Дизайнер</TH>
      <TH>Всего заказов</TH>
      <TH>Общая сумма</TH>
    </TR>
  {% for des in des_list %}
     <TR> 
	<TD>{{des.designer__first_name}} {{des.designer__last_name}}</TD> 
	<TD>{{des.designer__count}}</TD>
	<TD>{{des.price__sum}}</TD>
     </TR>
  {% endfor %}
  </ul>
  {% else %}
    <p>Список заказов пуст</p>
  {% endif %}
{% endblock %}
