{% extends "asuzr/base.html" %}

{% block title %}{% if archive %} Архивная таблица заказов {% else %} Таблица выхода заказов {% endif %}{% endblock %}
 
{% block page %}
 <TABLE BORDER WIDTH="100%">
  {% if order_list %}
   <ul>
    <TR>
      <TH>Дата</TH>
      <TH>Срок сдачи</TH>
      <TH>Наименование</TH>
      <TH>Доставка</TH>
      <TH>Подьем</TH>
      <TH>Адрес</TH>
      <TH>Стоимость</TH>
      <TH>Оплачено</TH>
      <TH>Остаток</TH>
      <TH>Согласовано</TH>
      <TH>Эскиз</TH>
      <TH>Исполнитель</TH>
      <TH>Сдан</TH>
      {% if archive %} <TH>Обзвон</TH> {% endif %}
    </TR>
    {% for order in order_list %}
      
      <TR>
	<TD>{{ order.date_dmy }}</TD>
	<TD>{{ order.deadline_dmy }}</TD>
	<TD>{{ order.product.name }}</TD>
	<TD>{%if order.delivery%} Да {% else %} Нет {% endif %} </TD>
	<TD>{%if order.lifting%} Да {% else %} Нет {% endif %}</TD>
	<TD>{{ order.address }}</TD>
	<TD>{{ order.price }}</TD>
	<TD>{{ order.paid }}</TD>
	<TD>{{ order.ostatok }}</TD>
	<TD>{%if order.approved%} {{ order.approved_date }} {%else%} Нет {% endif %}</TD>
	<TD>{{order.sketch.sketch_file}}</TD>
	<TD>{{ order.executor.first_name }} {{ order.executor.last_name }}</TD>
	<TD>{%if order.is_done%} Да {%else%} Нет {% endif %}</TD>
	{% if archive %} <TD {% if order.calls_color%} bgcolor='FFFACD' {% endif %}>{{ order.calls}}</TD> {% endif %}
      </TR>
    {% endfor %}
   </ul>
  {% else %}
    <p>Список заказов пуст</p>
  {% endif %}
  </table>

{% endblock %}
