{% extends "asuzr/base.html" %}
{% load thumbnail %}
{% block page %}
 {% if sketch_list %}
 <ul>
  {% for sketch in sketch_list %} 
    <li>  {% thumbnail sketch.sketch_file "200x200" crop="center" as im %} <img src = "{{ im.url }}"> {% endthumbnail %} </li>
  {% endfor %}
 </ul>
 {% endif %}
{% endblock %}

{% block additional %}
<div class="inline">
<form action="/sketches/{{ order_id }}/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div>Добавить эскизы:</div>
  <input type="file" name="sketch_file" multiple />
  <input type="submit" text="Добавить эскиз">
</form>
</div>
{% endblock %}
